@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


.container{
   font-family: 'Rajdhani', sans-serif;
}







@media screen and (max-width:1079px) {
  .row{

    .item_logo{
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;


      .transitionBtn{
        text-decoration: none;
        border: none;
        color: white;
        transition: .5s;
        &:hover{
          color: darkblue;
        }
      }

      .google_log_in{
        margin-top: 10px  ;
      }
    }
    
  }
}

@media screen and (min-width:1080px) {
  .row{
    position: absolute;
    
  
    .transitionBtn{
      text-decoration: none;
      border: none;
      color: white;
      transition: .5s;
      &:hover{
        color: darkblue;
        text-decoration: underline;
      }
    }
  
    .google_log_in{
      margin-top: 10px  ;
      margin-left: 5rem;
    }
  }
}


